body {
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

/* item layout */

.row {
  display: flex;
  margin: 5rem 7rem;
}

.column {
  flex: 50%;
  padding: 2rem;
  background-color: #fff;
}

/* header */

.header--section {
  text-align: center;
}

.header--title {
  font-size: 4rem;
}

.header--text {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 50rem;
  text-align: left;
}

/* item list  -- left side */

.item-row {
  display: flex;
  align-items: center;
  margin: 5rem 0;
}

.item-column-image {
  width: 30%;
  padding-left: 1rem;
}

.item-column-arrow {
  width: 10%;
}

.item-column-title {
  width: 60%;
  font-size: 1.2rem;
}

.item-arrow {
  width: 80%;
  height: 80%;
}

/* item details */

.item--price {
  font-size: 2rem;
}

.item--description {
  font-size: 1.2rem;
  max-width: 40rem;
}

button {
  background-color: #26b7d3;
  color: #fff;
  padding: 0.7rem 2.7rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  display: flex;
  margin: 5rem 0;
}

@media only screen and (max-device-width: 768px)  {
  .row {
    margin: 2rem 1rem;
  }

  .item-row {
    margin: 0.2rem;
  }

  .header--title {
    font-size: 3rem;
  }

  .header--text {
    font-size: 1.2rem;
    width: 30rem;
  }

  .item-column-title {
    font-size: 0.8rem;
  }

  .item--price {
    font-size: 1.5rem;
  }

  .item--description {
    font-size: 0.8rem;
    max-width: 20rem;
  }

  .item-column-image, .item-column-arrow {
    padding: 1rem;
  }

  button {
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
  }

}
